@import "../../scss/abstracts/variables.scss";

.backdrop {
  &.hidden {
    opacity: 0;
    pointer-events: none;

    & > .profile {
      transform: translate(-50%, -500px);
    }
  }

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.2s;
}

.profile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  min-width: 600px;
  height: 400px;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  text-align: center;
  transition: transform 0.2s;

  &__username {
    font-size: 26px;
  }

  &__email {
    font-size: 26px;
  }

  &__title {
    text-align: center;
    font-size: 36px;
  }

  &__logout {
    width: 120px;
    margin: 0 auto;
    font-family: inherit;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 10px;
    background-color: $contrast-bg;
    padding: 12px 30px;
  }
}

.data {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.field {
  text-decoration: underline;
  font-weight: bold;
}
