@import "../../scss/abstracts/variables.scss";

.hero {
  padding: 100px 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/hero-bg.jpg");
  background-size: cover;
  margin-bottom: 60px;

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    text-align: center;
    margin-bottom: 80px;
  }

  &__central {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  &__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    width: 400px;
    text-align: right;
    padding-right: 52px;
    box-sizing: border-box;
    border-right: 2px solid white;
  }

  &__date {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    padding-left: 52px;
    box-sizing: border-box;
  }

  &__search {
    background-color: $input-bg;
    border: none;
    outline: none;
    padding: 13px 30px;
    padding-right: 0;
    border-radius: 10px 0 0 10px;
    width: 580px;
    border-right: 2px solid black;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    font-family: inherit;

    &::placeholder {
      font-family: inherit;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
  }

  &__submit {
    padding: 10px;
    border-radius: 0 10px 10px 0;
    background-color: $contrast-bg;
  }
}
