@import "../../scss/abstracts/variables.scss";

.hero {
  padding: 100px 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/hero-bg-mob.jpg");
  background-size: cover;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/hero-bg.jpg");
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    text-align: center;
    margin-bottom: 80px;

    @media screen and (min-width: 768px) {
      font-size: 40px;
    }
  }

  &__central {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 0 auto;
    margin-bottom: 80px;
    width: 240px;
    border-left: 2px solid white;
    padding-left: 24px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 0;
      border-left: none;
      align-items: flex-start;
      width: auto;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    text-align: left;
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
      font-size: 24px;
      padding-right: 52px;
      text-align: right;
      border-right: 2px solid white;
      width: 400px;
    }
  }

  &__date {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    box-sizing: border-box;

    @media screen and (min-width: 768px) {
      font-size: 24px;
      padding-left: 52px;
    }
  }

  &__search {
    background-color: $input-bg;
    border: none;
    outline: none;
    padding: 13px 30px;
    padding-right: 0;
    border-radius: 10px 0 0 10px;
    width: 240px;
    border-right: 2px solid black;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    font-family: inherit;

    @media screen and (min-width: 768px) {
      width: 580px;
    }

    &::placeholder {
      font-family: inherit;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      letter-spacing: 0%;
    }
  }

  &__form {
    display: flex;
    justify-content: center;
  }

  &__submit {
    padding: 10px;
    border-radius: 0 10px 10px 0;
    background-color: $contrast-bg;
  }
}
