@import "../../scss/abstracts/variables.scss";

.cards {
  margin-bottom: 80px;

  &__list {
    display: flex;
    gap: 90px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc((100% - 180px) / 3);
    background-color: $cards-bg;
    border-radius: 20px;
    padding: 15px 30px;
    gap: 20px;
  }

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__hour {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  &__hourly {
    background-color: $contrast-bg;
    font-family: inherit;
    border-radius: 10px;
    padding: 8px 18px;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
  }

  &__time {
    display: flex;
  }

  &__date {
    padding-right: 13px;
    box-sizing: border-box;
    border-right: 1px solid black;
  }

  &__day { 
    padding-left: 13px;
    box-sizing: border-box;
  }

  &__temperature {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 20px;
  }

  &__load {
    width: 100px;
    height: 30px;
    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 10px;
    background-color: $contrast-bg;
    font-family: inherit;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__actions {
    display: flex;
    gap: 16px;
  }

  &__remove, &__like, &__reload {
    background-color: transparent;
  }
}
