@import "../../scss/abstracts/variables.scss";

.header {
  font-family: "Montserrat Alternates";
  font-size: 12px;
  padding: 12px 0;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {
  &__list {
    display: flex;
    gap: 30px;
  }

  &__link {
    color: inherit;
  }
}

.user {
  display: flex;
  gap: 30px;
  align-items: center;
}

.username {
  background-color: transparent;
  font-family: inherit;
}

.signup {
  width: 70px;
  height: 35px;
  padding: 10px 10px;
  border-radius: 10px;
  background-color: $contrast-bg;

  @media screen and (min-width: 768px) {
    width: 90px;
    padding: 10px 20px;
  }
}
