.slider {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 40px;
  }
}
